/*-- scss:defaults --*/

$navbar-bg: grey !default;

.header-section-number {
    color: #747a7f;
    color: white !important;
    background-color: #adb5bd;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
